<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxfu.mapper.UserMapper">
    <insert id="addUser">
        insert into user (id, bookId, wordId, dictionaryId, familiar)
        values (#{openid}, 0, 0, 0, "2,4,7,15")
    </insert>
    <update id="saveInfo" parameterType="com.hxfu.entity.User">
        update user
        set name=#{name},
            avatarUrl = #{avatarUrl}
        where id = #{id}
    </update>
    <update id="updatewordid">
        update user
        set wordId=#{wordId}
        where id = #{openid}
    </update>
    <update id="changeDictionary">
        update user
        set dictionaryId=#{dictionaryId}
        where id = #{openid}
    </update>
    <update id="setAccount">
        update user
        set account=#{account},
            pwd=#{pwd}
        where id = #{openid}
    </update>
    <select id="login" resultMap="BaseResultMap">
        select *
        from user
        where id = #{openid}
    </select>
    <select id="webLogin" resultMap="BaseResultMap">
        select *
        from user
        where account = #{account}
          and pwd = #{pwd}
    </select>
    <select id="getFamiliar" resultType="string">
        select familiar
        from user
        where id = #{openid}
    </select>
    <select id="getListId" resultType="int">
        select bookId
        from user
        where id = #{openid}
    </select>
    <update id="changeFamiliar">
        update user
        set familiar=#{familiar}
        where id = #{openid}
    </update>
    <update id="changeDailyCount">
        update user
        set dailyCount=#{dailyCount}
        where id = #{openid}
    </update>
    <select id="getWordId" resultType="int">
        SELECT wordId
        FROM user
        where id = #{openid}
    </select>
    <select id="getDailyCount" resultType="int">
        SELECT dailyCount
        FROM user
        where id = #{openid}
    </select>
    <resultMap id="BaseResultMap" type="com.hxfu.entity.User">
        <result column="id" property="id"/>
        <result column="bookId" property="bookId"/>
        <result column="wordId" property="wordId"/>
        <result column="name" property="name"/>
        <result column="avatarUrl" property="avatarUrl"/>
        <result column="account" property="account"/>
        <result column="pwd" property="pwd"/>
        <result column="dictionaryId" property="dictionaryId"/>
        <result column="familiar" property="familiar"/>
        <result column="dailyCount" property="dailyCount"/>
    </resultMap>
</mapper>
