<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxfu.mapper.UserMapper">
    <!--    <resultMap id="BaseResultMap" type="com.hxfu.entity.Activity">-->
    <!--        <result column="id" property="id" />-->
    <!--        <result column="content" property="content" />-->
    <!--        <result column="color" property="color"/>-->
    <!--        <result column="timestamp" property="timestamp"/>-->
    <!--    </resultMap>-->
    <insert id="addUser">
        insert into user (id, bookId, wordId)
        values (#{openid}, 0, 0)
    </insert>
    <update id="saveInfo" parameterType="com.hxfu.entity.User">
        update user
        set name=#{name},
            avatarUrl = #{avatarUrl}
        where id = #{id}
    </update>
    <update id="updatewordid">
        update user
        set wordId=#{wordId}
        where id = #{openid}
    </update>
    <update id="setAccount">
        update user
        set account=#{account},pwd=#{pwd}
        where id = #{openid}
    </update>
    <select id="login" resultMap="BaseResultMap">
        select *
        from user
        where id = #{openid}
    </select>
    <!-- <update id="editActivity" parameterType="com.hxfu.entity.Activity">
         update activities set content=#{content}, color = #{color} where id = #{id}
     </update>
     <delete id="deleteActivity">
         delete from activities where id = #{id}
     </delete>
     <select id="getCounts" resultType="java.lang.Integer">
         SELECT COUNT(*) FROM activities where color = #{color}
     </select>-->
    <resultMap id="BaseResultMap" type="com.hxfu.entity.User">
        <result column="id" property="id"/>
        <result column="bookId" property="bookId"/>
        <result column="wordId" property="wordId"/>
        <result column="name" property="name"/>
        <result column="avatarUrl" property="avatarUrl"/>
        <result column="account" property="account"/>
        <result column="pwd" property="pwd"/>
    </resultMap>
    <!--    <select id="findProduct" resultType="java.lang.String">
            SELECT url FROM product where code = #{code}
        </select>-->
</mapper>
