<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxfu.mapper.WordMapper">
    <insert id="addWord" parameterType="com.hxfu.entity.Word" useGeneratedKeys="true" keyProperty="id">
        insert into word (word, listid)
        values (#{word}, #{listid})
    </insert>
    <select id="getWords" resultMap="BaseResultMap">
        select *
        from word
        where listId = #{bookId}
          and id &gt; #{wordId}
        limit #{dailyCount}
    </select>
    <select id="getOneWords" resultMap="BaseResultMap">
        select *
        from word
        where listId = #{bookId}
          and id = #{wordId} + 1
    </select>
    <select id="getReviewWords" resultType="com.hxfu.entity.Word">
        select *
        from word
        where id = #{wordId}
    </select>
    <select id="showWords" resultMap="SimpleMap">
        select id,word
        from word
        where listId = #{bookId} limit #{wordId}
            , 50
    </select>
    <select id="getCounts" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM word
        where listId = #{bookId}
    </select>
    <select id="searchWord" resultMap="BaseResultMap">
        SELECT *
        FROM word
        where word = #{word}
    </select>
    <select id="getLastId" resultType="int">
        SELECT id
        FROM word
        WHERE listid=#{listId}
        order by id desc
        LIMIT 1
    </select>
    <update id="addOxfordTranslation">
        update word
        set oxfordTranslations=#{translation}
        where id = #{wordId}
    </update>
    <update id="addCambridgeTranslation">
        update word
        set cambridgeTranslations=#{translation}
        where id = #{wordId}
    </update>
    <delete id="deleteWord">
        delete from word where listId = #{bookId}
    </delete>
    <resultMap id="BaseResultMap" type="com.hxfu.entity.Word">
        <result column="id" property="id"/>
        <result column="word" property="word"/>
        <result column="brisound" property="brisound"/>
        <result column="unisound" property="unisound"/>
        <result column="oxfordTranslations" property="oxfordTranslations"/>
        <result column="cambridgeTranslations" property="cambridgeTranslations"/>
    </resultMap>
    <resultMap id="SimpleMap" type="com.hxfu.entity.Word">
        <result column="id" property="id"/>
        <result column="word" property="word"/>
    </resultMap>
</mapper>
